doctype html
html
  head(lang='en')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-3.3.1.min.js')
    script(src='/javascripts/bootstrap.bundle.min.js')
    script(src='/javascripts/fontawesome-all.js')
  body
    block content