doctype html
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-3.3.1.min.js')
    script(src='/javascripts/bootstrap.bundle.min.js')
    script(src='/javascripts/fontawesome-all.js')
    block script
  body
    nav.navbar.fixed-top.navbar-expand-md.navbar-dark
      a.navbar-brand(href='/') Loc8r
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#collapsibleNavbar')
        span.navbar-toggler-icon
      #collapsibleNavbar.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='/about') About
    .content
      block content
      footer
        .row
          .col-12
            small &copy; Himanshu 2018